@import url("https://fonts.googleapis.com/earlyaccess/notosansjapanese.css");

@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #fffffe;
	color: #333;
	font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "Noto Sans Japanese", sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.6;
	overflow-x: hidden;
}

body.m_fixed_sns {
	padding-bottom: 75px;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	outline: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

code,
kbd,
pre,
samp {
	font-family: monospace, sans-serif;
	font-size: inherit;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid #eee;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid #eee;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

form {
	margin: 0;
	padding: 0;
}

form button {
	-webkit-appearance: none;
	background-color: #d81f32;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: 0.0625em 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

form button:hover,
form button:focus {
	outline: none;
}

form button:hover {
	opacity: 0.6;
}

form button ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input,
textarea {
	-webkit-appearance: none;
	background-image: none;
	border: 1px solid #e2e2e2;
	border-radius: 0;
	font-family: inherit;
	font-size: 1em;
	padding: 20px 24px;
	width: 100%;
}

textarea:hover,
textarea:focus {
	outline: none;
}

textarea:focus {
	border-color: #e2e2e2;
	box-shadow: none;
	outline: none;
}

textarea ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input::-webkit-input-placeholder {
	color: #e2e2e2;
}

input::-moz-placeholder {
	color: #e2e2e2;
}

input::-ms-input-placeholder {
	color: #e2e2e2;
}

input::placeholder {
	color: #e2e2e2;
}

input:focus {
	border-color: #e2e2e2;
	box-shadow: none;
	outline: none;
}

input[type="submit"],
input[type="button"] {
	-webkit-appearance: none;
	background-color: #d81f32;
	background-image: none;
	border: none;
	border-radius: 0;
	box-shadow: 0.0625em 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.16);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 0;
	padding: 0.6em 2em;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: auto;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus {
	outline: none;
}

input[type="submit"]:hover,
input[type="button"]:hover {
	opacity: 0.6;
}

input[type="submit"] ::-moz-focus-inner,
input[type="button"] ::-moz-focus-inner {
	border: none;
	padding: 0;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
}

input[type="radio"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 50%;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="radio"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="radio"]:checked + span::after {
	-webkit-transform: translateY(-50%);
	background: #e2e2e2;
	border-radius: 50%;
	content: "";
	display: block;
	height: 10px;
	left: 8px;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 10px;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 16px 0 0;
	padding: 0 0 0 30px;
	position: relative;
	transition: all 1s ease 0s;
}

input[type="checkbox"] + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
	content: "";
	display: block;
	height: 26px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
}

input[type="checkbox"] + span::after {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

input[type="checkbox"]:checked + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 4px solid #e2e2e2;
	border-left: 4px solid #e2e2e2;
	content: "";
	display: block;
	height: 15.6px;
	left: 0;
	margin-top: -0.2em;
	opacity: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	width: 26px;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	background-image: url(../img/select-arrow.svg);
	background-position: right 6px center;
	background-repeat: no-repeat;
	background-size: 24px;
	border: 1px solid #e2e2e2;
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 2.4em 0.4em 0.8em;
}

select::-ms-expand {
	display: none;
}

select:focus {
	border-color: #e2e2e2;
	box-shadow: none;
	outline: none;
}

.archive-head {
	border-top: 3px solid #d81f32;
	margin-bottom: 56px;
	padding: 28px 0 0;
}

.archive-head.m_description {
	margin-bottom: 20px;
}

.archive-lead {
	color: #d81f32;
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 6px;
}

.archive-title {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin-bottom: 18px;
}

.archive-title.m_category::before {
	color: #d81f32;
	content: "\f02d";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 26px;
	font-weight: 900;
	margin-right: 8px;
}

.archive-title.m_search span {
	color: #d81f32;
}

.archive-title.m_search::before {
	color: #d81f32;
	content: "\f002";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 26px;
	font-weight: 900;
	margin-right: 8px;
}

.archive-description {
	font-size: 14px;
	line-height: 1.4;
}

.inner {
	margin: 0 auto;
	max-width: 100%;
	padding: 80px 0;
	width: 1100px;
}

#content > .inner {
	display: flex;
	padding-bottom: 120px;
	padding-top: 58px;
}

#content.m_one > .inner {
	display: block;
}

#primary {
	width: 65.45455%;
}

.m_one #primary {
	margin-bottom: 0;
	width: 100%;
}

#secondary {
	margin-left: auto;
	width: 30.90909%;
}

.m_one #secondary {
	display: none;
	width: 100%;
}

.breadcrumb {
	color: #8d8d8d;
	font-size: 12px;
	margin-bottom: 14px;
}

.breadcrumb .home::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 10px;
}

.breadcrumb a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.breadcrumb a:hover {
	opacity: 0.6;
}

.breadcrumb i {
	margin-left: 15px;
	margin-right: 15px;
}

.btn {
	-webkit-appearance: none;
	background-color: #01b3a7;
	background-image: none;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin: 0;
	min-width: 282px;
	padding: 17px 20px 14px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:focus {
	outline: none;
}

.btn::-moz-foucus-inner {
	border: none;
	padding: 0;
}

.btn:hover {
	background: #00aca0;
}

.drawer {
	display: none;
}

.drawer-icon {
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 17px;
	text-align: center;
	top: 29px;
	z-index: 41;
}

.drawer-open {
	display: block;
}

.m_checked .drawer-open {
	display: none;
}

.drawer-close {
	display: none;
}

.m_checked .drawer-close {
	display: block;
}

.drawer-content {
	background: rgba(51, 51, 51, 0.9);
	height: 100vh;
	left: 0;
	opacity: 0;
	overflow: auto;
	padding: 80px 16px 16px;
	position: fixed;
	text-align: left;
	top: 0;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 100%;
	z-index: 40;
}

.m_checked .drawer-content {
	opacity: 1;
	visibility: visible;
}

.drawer-nav {
  .drawer-title {
    color: white;
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    .nav-open {
      display: none;
    }
  }
  .drawer-list {
    display: none;
  }
}

.nav_checked {
  .drawer-title {
    .nav-open {
      display: block;
    }
    .nav-close {
      display: none;
    }
  }
  .drawer-list {
    display: block;
  }
}

.drawer-nav li a {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	border-left: 6px solid transparent;
	color: #fff;
	display: block;
	font-size: 14px;
	padding: 10px 12px 10px 0;
	text-decoration: none;
}

.drawer-nav li a::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 8px;
}

.drawer-nav li:nth-child(1) > a::before {
	content: "\f015";
}

.drawer-nav li:nth-child(2) > a::before {
	content: "\f02d";
}

.drawer-nav li:nth-child(3) > a::before {
	content: "\f0f4";
}

.drawer-nav li:nth-child(4) > a::before {
	content: "\f109";
}

.drawer-nav li:nth-child(5) > a::before {
	content: "\f0e0";
}

.entries {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
}

.entry-item {
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	display: block;
	margin-bottom: 50px;
	margin-right: 40px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: calc(50% - 40px / 2);
}

.entry-item:hover {
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.16);
}



.entry-item:nth-child(2n),
.entry-item:last-child {
	margin-right: 0;
}

.entry-item-img {
	text-align: center;
  padding: 0 20px;
  position: relative;
}

.entry-item-category-img {
  padding: 0;
}

.entry-item-body {
	padding: 20px;
}

.entry-item-meta {
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 4px;
  .entry-item-topBox {
    width: 100%;
    @media(max-width: 599px) {
      display: flex;
    }
    .entry-item-title {
      font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 1.42;
      color: #0066cc;
    }
    .entry-item-published {
      color: #808080;
      font-size: 12px;
      margin-top: 4px;
      @media(max-width: 599px) {
        margin-left: 20px;
      }
    }
    .entry-item-published::before {
      content: "\f073";
      font-family: "Font Awesome 5 Free", sans-serif;
      font-weight: 400;
      margin-right: 8px;
    }
  }
  .entry-item-centerBox {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    .entry-item-prefecture {
      margin-right: 5px;
    }
    .single-item-station-title {
      font-weight: bold;
      margin-right: 5px;
    }
    .entry-item-span {
      margin: 0 5px;
    }
    .single-item-genre-title {
      font-weight: bold;
      margin-right: 5px;
      margin-left: 10px;
    }
    .single-item-centerBox-factor {
      margin-right: 5px;
      text-decoration: none;
      @media(max-width: 599px) {
        text-decoration: underline;
        color: #06c;
      }
    }
    .single-item-centerBox-factor:hover {
      color: #ff9600;
      text-decoration: underline;
      cursor: pointer;
    }
    .single-item-genre {
      margin-right: 0;
    }
  }
  .entry-item-priceBox {
    .entry-item-price {
      display: flex;
      font-size: 12px;
      .fa-moon {
        margin: 3px 5px 3px 0;
        padding: 1px;
        color: white;
        background-color: #336aa2;
        border-radius: 2px;
      }
      .fa-sun {
        margin: 3px 5px 3px 0;
        padding: 1px;
        color: white;
        background-color: #cc8031;
        border-radius: 2px;
      }
      .category-price-sp {
        display: none;
      }
      @media(max-width: 599px) {
        .category-price-pc {
          display: none;
        }
        .category-price-sp {
          display: block;
        }
      }
    }
    .entry-item-dinner {
      margin-right: 10px;
    }
  }
  .single-item-priceBox {
    display: flex;
    margin-top: 5px;
    .single-item-price-title {
      font-size: 12px;
      font-weight: bold;
      margin-right: 5px;
    }
  }
  .category-item-priceBox {
    display: flex;
    .entry-item-lunch {
      margin-left: 10px;
    }
  }
}

.entry-item:hover .entry-item-title {
  color: #fa0;
  text-decoration: underline;
}

.entry-item-tag {
	// background: #d81f32;
	// color: #fff;
	// display: block;
	// font-size: 12px;
	// margin-right: 20px;
	// padding: 3px 14px 2px;
  // position: absolute;
  // top: 0;
  // right: 0;
}

.entry-item-excerpt {
	color: #454545;
	font-size: 14px;
	line-height: 1.71429;
}

.category-item-excerpt-sp {
  display: none;
  @media(max-width: 599px) {
    display: block;
    font-size: 12px;
    margin-top: 5px;
  }
}

.content-single-sp {
  display: none;
}

@media(max-width: 599px) {
  .content-single-pc {
    display: none!important;
  }
  .content-single-sp {
    display: block;
    .single-sp {
      padding: 0;
      .entry-header {
        .entry-item-meta {
          padding: 0 10px;
          .entry-label {
            margin-bottom: 5px;
          }
          .entry-title {
            font-size: 22px;
            margin-bottom: 10px;
            // color: #0066cc;
          }
        }
      }
      .hr-single-sp {
        border: none;
        height: 1px;
        background-color: silver;
        margin: 0 10px;
      }
      .entry-body {
        padding: 0 10px;
        margin-top: 20px;
      }
      .entry-footer {
        padding: 0 10px;
      }
    }
  }
}

.entries.m_horizontal {
	margin-bottom: 62px;
}

.entries.m_horizontal .entry-item {
	display: flex;
  flex-wrap: wrap;
	margin-bottom: 30px;
	margin-right: 0;
	padding: 20px;
	width: 100%;
}

.entries.m_horizontal .entry-item:last-child {
	margin-bottom: 0;
}

.entries.m_horizontal .entry-item .entry-item-img {
	width: 36.02941%;
}

.entries.m_horizontal .entry-item .entry-item-body {
	padding: 0 0 0 20px;
	width: 63.97059%;
}

.entries.m_block .entry-item {
	width: 100%;
	margin-right: 0;
}

.entries.m_block .entry-item .entry-item-body {
		padding: 20px;
    width: 100%;
}

.entries.m_block .entry-item .entry-item-published {
	font-size: 14px;
}

.entries.m_block .entry-item .entry-item-tag {
	font-size: 14px;
}

.entries.m_block .entry-item .entry-item-title {
	font-size: 20px;
}

.entries.m_block .entry-item .entry-item-excerpt {
	font-size: 16px;
}

.entry {
	background: #fff;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.16);
	padding: 40px 40px 12px;
}

.entry-label {
	display: inline-block;
	margin-bottom: 18px;
}

.entry-label a {
	background: #d81f32;
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 4px 16px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-label a:hover {
	opacity: 0.6;
}

.entry-title {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 18px;
}

.m_page .entry-title {
	margin-bottom: 34px;
}

.entry-meta {
	align-items: center;
	display: flex;
	margin-bottom: 18px;
}

.entry-published,
.entry-updated {
	color: #808080;
	font-size: 12px;
}

.entry-published::before,
.entry-updated::before {
	content: "\f073";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 400;
	margin-right: 8px;
}

.entry-updated {
	margin-left: 27px;
}

.entry-updated::before {
	content: "\f1da";
	font-weight: 900;
}

.entry-img {
	text-align: center;
}

.entry-tag-items {
	border-top: 1px solid #e2e2e2;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 0;
}

.entry-tag-head {
	background: #808080;
	border-radius: 3px;
	color: #fff;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-right: 15px;
	padding: 6px 15px 0;
}

.entry-tag-head::before {
	content: "\f02b";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 5px;
}

.entry-tag-item {
	margin-bottom: 10px;
	margin-right: 15px;
}

.entry-tag-item:last-child {
	margin-right: 0;
}

.entry-tag-item a {
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	color: #808080;
	display: block;
	font-size: 14px;
	padding: 6px 18px 5px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-tag-item a:hover {
	background: #808080;
	border-color: #808080;
	color: #fff;
}

.entry-body {
	margin-top: 32px;
	padding-bottom: 44px;
}

.m_page .entry-body {
	padding-bottom: 12px;
}

.entry-body h2 + p,
.entry-body h3 + p,
.entry-body h4 + p,
.entry-body h5 + p,
.entry-body h6 + p {
	margin-top: 0;
}

.entry-body h2 {
	background: #ebebeb;
	border-radius: 3px;
	border-top: 6px solid #d81f32;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 26px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 38px;
	margin-top: 79px;
	padding: 24px 20px;
	position: relative;
	text-align: left;
}

.entry-body h2::after {
	border: 5px solid transparent;
	border-top: 15px solid #ebebeb;
	content: "";
	height: 0;
	left: 24px;
	position: absolute;
	top: 100%;
	width: 0;
}

.entry-body h3 {
	border-bottom: 3px solid #d81f32;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4;
	margin-bottom: 24px;
	margin-top: 84px;
	padding-bottom: 14px;
}

.entry-body h4 {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6;
	margin-bottom: 16px;
	margin-top: 82px;
	padding-left: 42px;
	position: relative;
}

.entry-body h4::before {
	color: #d81f32;
	content: "\f00c";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 26px;
	font-weight: 900;
	left: 0;
	position: absolute;
	top: -8px;
}

.entry-body h5 {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.6;
	margin-bottom: 27px;
	margin-top: 60px;
}

.entry-body h6 {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 2em;
}

.entry-body p {
	line-height: 1.875;
	margin-top: 30px;
}

.entry-body ul {
	list-style-type: disc;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body ol {
	list-style-type: decimal;
	margin-bottom: 1em;
	padding-left: 20px;
}

.entry-body li {
	line-height: 1.6;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}

.entry-body blockquote {
	background: #eee;
	line-height: 1.6;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 1em;
}

.entry-body blockquote > :first-child {
	margin-top: 0;
}

.entry-body blockquote > :last-child {
	margin-bottom: 0;
}

.entry-body q {
	background: #eee;
	display: inline-block;
	padding-left: 0.2em;
	padding-right: 0.2em;
	vertical-align: middle;
}

.entry-body strong,
.entry-body b {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-weight: 600;
}

.entry-body a {
	color: #1592e6;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-weight: 600;
	transition: all 0.3s ease 0s;
}

.entry-body a:hover {
	opacity: 0.6;
}

.entry-body img {
	vertical-align: middle;
}

.entry-body .entry-btn {
	margin: 1em 0;
	text-align: center;
}

.entry-body .entry-btn .btn {
	color: #fff;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
}

.entry-body .entry-btn .btn:hover {
	opacity: 1;
}

.entry-links {
	margin-top: 32px;
	text-align: center;
}

.entry-links .post-page-numbers {
	background: #fff;
	border: 1px solid #666;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;
	min-width: 30px;
	text-align: center;
}

.entry-links .post-page-numbers.current {
	background: #666;
	color: #fff;
}

.entry-links .post-page-numbers:first-child {
	margin-left: 0;
}

.entry-links .post-page-numbers:last-child {
	margin-right: 0;
}

.entry-links a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.entry-links a:hover {
	background: #666;
	color: #fff;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
}

.gallery-item {
	margin-bottom: 8px;
	padding: 4px;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

.pagenation {
	margin-top: 12px;
	text-align: center;
}

.pagenation a {
	transition: all 0.3s ease 0s;
}

.pagenation a:hover {
	opacity: 0.6;
}

.pagenation a.next,
.pagenation a.prev {
	font-size: 30px;
}

.pagenation a.next:hover,
.pagenation a.prev:hover {
	opacity: 0.6;
}

.page-numbers {
	background: #fff;
	border: 1px solid #e2e2e2;
	color: #808080;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 20px;
	height: 40px;
	line-height: 38px;
	margin-right: 14px;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
}

.page-numbers:last-child {
	margin-right: 0;
}

.page-numbers.current {
	background: #d81f32;
	border: 1px solid #d81f32;
	color: #fff;
	font-weight: 700;
}

.page-numbers.dots,
.page-numbers.next,
.page-numbers.prev {
	border: none;
	line-height: 40px;
	min-width: initial;
	width: auto;
}
.sidebar-search {
  @media(max-width: 599px) {
    display: none;
  }
}
.sidebar-widget {
  margin-bottom: 20px;
  .widget-title {
    margin-bottom: 0;
  }
  .widget-item {
    display: block;
    padding: 8px;
    color: #0066cc;
    border-top: 1px solid #e2e2e2;
    text-decoration: none;
  }
  .widget-item:hover {
    color: #fa0;
  }
}

.widget .rpwwt-widget li {
	margin-bottom: 20px;
}

.widget .rpwwt-widget li:last-child {
	margin-bottom: 0;
}

.widget .rpwwt-widget li a {
	display: block;
	font-size: 0;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.widget .rpwwt-widget li a:hover {
	opacity: 0.6;
}

.widget .rpwwt-widget li a img {
	width: 120px;
}

.widget .rpwwt-widget .rpwwt-post-title {
	display: inline-block;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.57143;
	padding: 0 0 0 10px;
	width: calc(100% - 120px);
}

#toc_container {
	background: #fff;
	border: 2px solid #d81f32;
	margin-top: 64px;
	padding: 20px 30px;
}

#toc_container .toc_title {
	border-bottom: 2px solid #d81f32;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
	margin-top: 0;
	padding-bottom: 6px;
	text-align: center;
}

#toc_container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#toc_container ul a {
	color: #333;
	display: inline-block;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-weight: 600;
	position: relative;
	text-decoration: none;
}

#toc_container > ul > li {
	counter-increment: toc;
	margin-bottom: 20px;
	margin-top: 0;
}

#toc_container > ul > li:last-child {
	margin-bottom: 0;
}

#toc_container > ul > li > a {
	padding-left: 36px;
}

#toc_container > ul > li > a::before {
	background: #d81f32;
	border-radius: 50%;
	color: #fff;
	content: counter(toc);
	font-family: "Lato", sans-serif;
	font-weight: 700;
	height: 26px;
	left: 0;
	line-height: 26px;
	margin-top: -2px;
	min-width: 26px;
	position: absolute;
	text-align: center;
	top: 0;
}

#toc_container > ul > li > ul {
	margin-top: 6px;
	padding-left: 36px;
}

#toc_container > ul > li > ul > li {
	margin-bottom: 2px;
	margin-top: 0;
}

#toc_container > ul > li > ul > li:last-child {
	margin-bottom: 0;
}

#toc_container > ul > li > ul > li > a {
	font-weight: 400;
	padding-left: 10px;
}

#toc_container > ul > li > ul > li > a::before {
	background: #d81f32;
	border-radius: 50%;
	content: "";
	height: 5px;
	left: 0;
	min-width: initial;
	position: absolute;
	top: 8px;
	width: 5px;
}

.wp-caption {
	max-width: 100%;
}

.wp-caption a {
	transition: all 0.3s ease 0s;
}

.wp-caption a:hover {
	opacity: 0.6;
}

.wp-caption-text {
	font-size: 14px;
	margin-top: 4px;
}

.entry-related {
	margin-top: 20px;
}

.related-title {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 22px;
}

.related-items {
	display: flex;
	flex-wrap: wrap;
}

.related-item {
	display: block;
	margin-bottom: 21px;
	margin-right: 18px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: calc(25% - 18px * 3 / 4);
  .related-item-title {
    color: #0066cc;
  }
  .related-item-excerpt {
    font-size: 12px;
    margin-top: 5px;
  }
}

.related-item:hover {
	opacity: 0.7;
  .related-item-title {
    color: #fa0;
  }
}

.related-item:nth-child(4n) {
	margin-right: 0;
}

.related-item-img {
	margin-bottom: 10px;
	text-align: center;
}

.related-item-title {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.57143;
}

.widget_archive select {
	background: transparent url(../img/select-arrow.svg) no-repeat center right 8px/12px 8px;
}

.widget {
	margin-bottom: 50px;
}

.widget:last-child {
	margin-bottom: 0;
}

.widget li {
	font-size: inherit;
	margin-bottom: 8px;
}

.widget li a {
	display: inline-block;
	font-size: inherit;
	text-decoration: none;
}

.widget li a:hover {
	opacity: 0.6;
}

.widget li ul {
	font-size: 0.85em;
	margin-top: 8px;
}

.widget-title {
	background: transparent url(../img/headign-line.png) repeat-x bottom center/340px auto;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 0 0 16px;
}

.widget_archive li,
.widget_categories li {
	margin-bottom: 8px;
}

.widget_archive li:last-child,
.widget_categories li:last-child {
	margin-bottom: 0;
}

.widget_archive li a,
.widget_categories li a {
	border-bottom: 1px solid #e2e2e2;
	display: block;
	font-size: 14px;
	padding: 20px 20px 14px 0;
	position: relative;
	text-decoration: none;
}

.widget_archive li a:hover,
.widget_categories li a:hover {
	opacity: 0.6;
}

.widget_archive li a::after,
.widget_categories li a::after {
	-webkit-transform: translateY(-50%);
	color: #333;
	content: "\f054";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-size: 16px;
	font-weight: 900;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.widget_archive li ul,
.widget_categories li ul {
	font-size: 0.85em;
	margin-top: 8px;
}

.wpost-item {
	display: flex;
	margin-bottom: 20px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.wpost-item:hover {
	opacity: 0.6;
}

.wpost-item:last-child {
	margin-bottom: 0;
}

.m_ranking .wpost-item {
	counter-increment: ranking;
	position: relative;
}

.m_ranking .wpost-item::after {
	background: #01b3a7;
	color: #fff;
	content: counter(ranking);
	font-family: "Lato", sans-serif;
	font-size: 12px;
	height: 20px;
	left: 0;
	line-height: 20px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 20px;
}

.wpost-item-img {
	width: 120px;
}

.wpost-item-body {
	padding: 0 0 0 10px;
	width: calc(100% - 120px);
}

.wpost-item-title {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.57143;
}

#wp-calendar caption {
	margin-bottom: 4px;
}

#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#wp-calendar a {
	color: #d81f32;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

#wp-calendar a:hover {
	opacity: 0.6;
}

.widget_categories select {
	background: transparent url(../img/select-arrow.svg) no-repeat center right 8px/12px 8px;
}

.gallery-item {
	padding: 0 4px;
	text-align: center;
}

.gallery-item a {
	transition: all 0.3s ease 0s;
}

.gallery-item a:hover {
	opacity: 0.6;
}

.gallery-caption {
	font-size: 14px;
	margin-top: 4px;
}

.gallery-columns-3 {
	display: flex;
}

.gallery-columns-3 .gallery-item {
	width: 33.33333333%;
}

.widget_meta abbr {
	text-decoration: none;
}

.wprofile-img {
	margin-bottom: 26px;
	text-align: center;
}

.wprofile-img img {
	width: 230px;
}

.wprofile-content {
	font-size: 14px;
	line-height: 1.71429;
	margin-bottom: 38px;
	padding: 0 18px;
}

.wprofile-sns {
	align-items: center;
	display: flex;
	justify-content: center;
}

.wprofile-sns-item {
	margin-right: 40px;
}

.wprofile-sns-item:last-child {
	margin-right: 0;
}

.wprofile-sns-item a {
	font-size: 26px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.wprofile-sns-item a:hover {
	opacity: 0.6;
}

.wprofile-sns-item.m_twitter a {
	color: #1da1f2;
}

.wprofile-sns-item.m_facebook a {
	color: #3b5998;
}

.wprofile-sns-item.m_instagram a {
	color: #c13584;
}

.post-date {
	color: #666;
	display: block;
	font-size: 14px;
}

.widget_rss cite {
	color: #666;
	font-size: 14px;
}

.rss-widget-icon {
	margin-top: -4px;
	vertical-align: middle;
}

.rsswidget {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
}

.rsswidget:hover {
	opacity: 0.6;
}

.rss-date {
	color: #666;
	font-size: 14px;
}

.rssSummary {
	color: #666;
	font-size: 14px;
}

.search-form {
	position: relative;
}

.screen-reader-text {
	position: absolute;
	top: 0;
	z-index: -1;
}

.search-field {
	padding-right: 70px;
	width: 100%;
}

.search-submit {
	-webkit-transform: translateY(-50%);
	background: transparent;
	box-shadow: none;
	color: #e2e2e2;
	font-size: 26px;
	padding: 0;
	position: absolute;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
}

.tagcloud {
	padding: 4px;
}

.tag-cloud-link {
	transition: all 0.3s ease 0s;
}

.tag-cloud-link:hover {
	opacity: 0.6;
}

.entry-404 {
	padding-bottom: 85px;
	text-align: center;
}

.entry-404-head {
	color: #f0cdd0;
	font-family: "Lato", sans-serif;
	font-size: 80px;
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 36px;
}

.entry-404-head span::after {
	content: " ";
}

.entry-404-lead {
	color: #808080;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 24px;
}

.entry-404-lead .m_sp {
	display: none;
}

.entry-404-content {
	color: #808080;
}

.entry-404-btn {
	margin-top: 58px;
}

.entry-404-btn .btn {
	background: #ebebeb;
	color: #8d8d8d;
}

.entry-404-btn .btn:hover {
	background: #ccc;
	opacity: 1;
}

#footer-menu {
	background: #868686;
}

#footer-menu > .inner {
	padding-bottom: 42px;
	padding-top: 54px;
}

.footer-logo {
	margin-bottom: 4px;
	text-align: center;
}

.footer-logo a {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 14px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-logo a:hover {
	opacity: 0.6;
}

.footer-sub {
	color: #fff;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71429;
	margin-bottom: 30px;
	text-align: center;
}

.footer-nav {
	text-align: center;
}

.footer-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-nav li {
	margin-bottom: 10px;
	margin-right: 32px;
	padding: 0 4px;
	text-decoration: none;
}

.footer-nav li:last-child {
	margin-right: 0;
}

.footer-nav li a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-nav li a:hover {
	opacity: 0.6;
}

.footer-sns {
	background: #fff;
	border-top: 1px solid #e2e2e2;
	bottom: -75px;
	left: 0;
	position: fixed;
	transition: all 0.3s ease 0s;
	width: 100%;
	z-index: 25;
}

.footer-sns.m_fixed_sns {
	bottom: 0;
}

.footer-sns > .inner {
	align-items: center;
	display: flex;
	height: 75px;
	padding-bottom: 0;
	padding-top: 0;
}

.footer-sns-head {
	font-size: 14px;
	margin-right: auto;
}

.footer-sns-buttons ul {
	align-items: center;
	display: flex;
}

.footer-sns-buttons li {
	margin-right: 50px;
}

.footer-sns-buttons li:last-child {
	margin-right: 0;
}

.footer-sns-buttons li a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.footer-sns-buttons li a:hover {
	opacity: 0.6;
}

.footer-sns-buttons li a.m_twitter img {
	width: 26px;
}

.footer-sns-buttons li a.m_facebook img {
	width: 11px;
}

.footer-sns-buttons li a.m_hatena img {
	width: 22px;
}

.footer-sns-buttons li a.m_line img {
	width: 30px;
}

.footer-sns-buttons li a.m_pocket img {
	width: 27px;
}

#footer {
	background: #464646;
}

#footer > .inner {
	padding-bottom: 20px;
	padding-top: 18px;
}

.copy {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	margin-bottom: 2px;
	text-align: center;
}

.by {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 11px;
	text-align: center;
}

.by a {
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.by a:hover {
	opacity: 0.6;
}

.floating {
	bottom: 100px;
	display: none;
	position: fixed;
	right: 28px;
	z-index: 30;
}

.floating a {
	background: #6a6a6a;
	border-radius: 50%;
	color: #fff;
	display: block;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	text-decoration: none;
	width: 60px;
}

.floating a:hover {
	opacity: 0.6;
}

#header {
	background: linear-gradient(to bottom, #d81f32, #d91d30);
	z-index: 20;
}

#header > .inner {
	align-items: center;
	display: flex;
	padding-bottom: 36px;
	padding-top: 40px;
}

.header-logo {
	line-height: 1.2;
}

.header-logo a {
	color: #fff;
	font-family: "Lato", sans-serif;
	font-size: 36px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-logo a:hover {
	opacity: 0.6;
}

.header-sub {
	color: #fff;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.71429;
	margin-top: 10px;
	padding: 0 38px;
}

.header-nav {
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
}

.header-nav > .inner {
	padding-bottom: 24px;
	padding-top: 34px;
}

.header-nav ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header-nav li {
	margin-bottom: 12px;
	margin-right: 40px;
}

.header-nav li:last-child {
	margin-right: 0;
}

.header-nav li > a {
	color: #333;
	display: block;
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.3s ease 0s;
}

.header-nav li > a:hover {
	opacity: 0.6;
}

.header-nav li > a::before {
	content: "\f015";
	font-family: "Font Awesome 5 Free", sans-serif;
	font-weight: 900;
	margin-right: 8px;
}

.header-nav li:nth-child(1) > a::before {
	content: "\f015";
}

.header-nav li:nth-child(2) > a::before {
	content: "\f02d";
}

.header-nav li:nth-child(3) > a::before {
	content: "\f0f4";
}

.header-nav li:nth-child(4) > a::before {
	content: "\f109";
}

.header-nav li:nth-child(5) > a::before {
	content: "\f0e0";
}

#mv > .inner {
	height: 600px;
	padding-bottom: 0;
	padding-top: 0;
}

#pickup {
	background: #f4f4f4;
}

#pickup > .inner {
	padding-bottom: 20px;
	padding-top: 40px;
}

.pickup-items {
	display: flex;
}

.pickup-item {
	display: block;
	margin-right: 40px;
	text-decoration: none;
	transition: all 0.3s ease 0s;
	width: calc(33.33333333% - 40px * 2 / 3);
}

.pickup-item:hover {
	opacity: 0.6;
}

.pickup-item:last-child {
	margin-right: 0;
}

.pickup-item-img {
	position: relative;
	text-align: center;
}

.pickup-item-body {
	padding: 20px 0;
}

.pickup-item-title {
	font-family: "HiraKakuPro-W6", "ヒラギノ角ゴ Pro W6", "Meiryo", "Meiryo", "Noto Sans Japanese", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.4;
}

.pickup-item-tag {
	background: #d81f32;
	color: #fff;
	font-size: 12px;
	line-height: 1.1;
	padding: 6px 14px;
	position: absolute;
	right: 0;
	text-decoration: none;
	top: 0;
}

@media screen and (max-width: 1099px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

}

@media screen and (max-width: 767px) {

body.m_fixed_sns {
	padding-bottom: 67px;
}

.archive-head {
	margin-bottom: 40px;
	padding-top: 26px;
}

// .archive-head.m_description {
// 	margin-bottom: 92px;
// }

.archive-lead {
	margin-bottom: 8px;
}

.archive-title {
	font-size: 20px;
	margin-bottom: 20px;
}

.inner {
	padding-left: 16px;
	padding-right: 16px;
}

#content > .inner {
	display: block;
	padding-top: 40px;
}

#primary {
	margin-bottom: 70px;
	width: 100%;
}

.m_one #primary {
	margin-bottom: 70px;
}

#secondary {
	width: 100%;
}

.m_one #secondary {
	display: block;
}

.breadcrumb {
	margin-bottom: 14px;
}

.drawer {
	display: block;
}

.entries {
	display: block;
}

.entry-item {
	margin-bottom: 27px;
	margin-right: 0;
	width: 100%;
}

.entry-item:last-child {
	margin-bottom: 0;
}

.entries.m_horizontal {
	margin-bottom: 40px;
}

.entries.m_horizontal .entry-item {
	margin-bottom: 20px;
	padding: 10px;
}

.entries.m_horizontal .entry-item .entry-item-img {
	width: 45.06173%;
}

.entries.m_horizontal .entry-item .entry-item-body {
	padding-left: 12px;
	width: 54.93827%;
}

.entries.m_horizontal .entry-item .entry-item-published {
	font-size: 10px;
}

.entries.m_horizontal .entry-item .entry-item-tag {
	font-size: 10px;
	margin-right: 8px;
}

.entries.m_horizontal .entry-item .entry-item-title {
	font-size: 14px;
	margin-bottom: 0;
}

.entries.m_horizontal .entry-item .entry-item-excerpt {
	display: none;
}

.entries.m_horizontal {
	margin-bottom: 40px;
}

.entries.m_horizontal .entry-item {
	margin-bottom: 20px;
	padding: 10px;
}

.entries.m_block .entry-item .entry-item-published {
	font-size: 12px;
}

.entries.m_block .entry-item .entry-item-tag {
	font-size: 12px;
}

.entries.m_block .entry-item .entry-item-title {
	font-size: 18px;
}

.entries.m_block .entry-item .entry-item-excerpt {
	font-size: 14px;
}

.entry {
	padding: 10px;
}

.entry-label a {
	font-size: 11px;
	padding: 4px 14px;
}

.entry-title {
	font-size: 24px;
	line-height: 1.41667;
}

.entry-published,
.entry-updated {
	font-size: 11px;
}

.entry-updated {
	margin-left: 18px;
}

.entry-tag-items {
	padding-top: 24px;
}

.entry-tag-head {
	padding: 6px 15px 0;
}

.entry-tag-item a {
	padding: 4px 16px 3px;
}

.entry-body {
	padding-bottom: 24px;
}

.entry-body h2 {
	font-size: 20px;
	margin-top: 80px;
	padding: 27px 17px;
}

.entry-body h3 {
	font-size: 20px;
}

#toc_container {
	padding: 20px 20px;
}

#toc_container .toc_title {
	margin-bottom: 18px;
}

#toc_container > ul > li {
	margin-bottom: 30px;
}

#toc_container > ul > li > ul {
	margin-top: 12px;
}

.related-item {
	margin-right: 30px;
	width: calc(50% - 30px * 1 / 2);
}

.related-item:nth-child(2n) {
	margin-right: 0;
}

.widget {
	margin-bottom: 57px;
}

.entry-404 {
	padding-bottom: 0;
	padding-top: 18px;
}

.entry-404-head {
	font-size: 40px;
	margin-bottom: 36px;
}

.entry-404-head span {
	display: block;
}

.entry-404-head span::after {
	display: none;
}

.entry-404-lead {
	font-size: 20px;
	margin-bottom: 34px;
}

.entry-404-lead .m_sp {
	display: block;
}

.entry-404-content {
	font-size: 12px;
	padding-left: 24px;
	padding-right: 24px;
}

.entry-404-btn {
	margin-top: 62px;
}

#footer-menu > .inner {
	padding-bottom: 56px;
	padding-top: 54px;
}

.footer-logo {
	margin-bottom: 12px;
}

.footer-logo a {
	font-size: 26px;
}

.footer-sub {
	font-size: 12px;
	margin-bottom: 28px;
}

.footer-nav ul {
	display: block;
	text-align: center;
}

.footer-nav li {
	margin-bottom: 12px;
	margin-right: 0;
}

.footer-nav li:last-child {
	margin-bottom: 0;
}

.footer-sns {
	bottom: -67px;
}

.footer-sns > .inner {
	height: 67px;
	padding-left: 32px;
	padding-right: 32px;
}

.footer-sns-head {
	display: none;
}

.footer-sns-buttons {
	width: 100%;
}

.footer-sns-buttons ul {
	justify-content: space-between;
}

.footer-sns-buttons li {
	margin-right: auto;
}

.floating {
	bottom: 92px;
	right: 16px;
}

#header > .inner {
	display: block;
	padding-bottom: 16px;
	padding-top: 20px;
}

.header-logo {
	margin-bottom: 8px;
	text-align: center;
}

.header-logo a {
	font-size: 26px;
}

.header-sub {
	font-size: 10px;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.header-nav {
	display: none;
}

#mv > .inner {
	height: 400px;
}

#pickup > .inner {
	padding-bottom: 40px;
	padding-top: 40px;
}

.pickup-items {
	display: block;
}

.pickup-item {
	display: flex;
	margin-bottom: 20px;
	margin-right: 0;
	width: 100%;
}

.pickup-item:last-child {
	margin-bottom: 0;
}

.pickup-item-img {
	width: 42.40688%;
}

.pickup-item-body {
	padding-bottom: 0;
	padding-top: 0;
	width: 57.59312%;
}

.pickup-item-title {
	font-size: 16px;
	padding-left: 15px;
}

}


/*# sourceMappingURL=style.css.map */
